<!-- <button class="btn btn-primary" routerLink="/about-us">about-us</button>
<button class="btn btn-primary" routerLink="/contact-us">contact-us</button>
<ul>Blogs</ul>
<button class="btn btn-primary" routerLink="/blogs/Indian_vs_Chinese_Ball_Bearings">india vs china</button>
<button class="btn btn-primary" routerLink="/blogs/How_to_Know_if_a_Ball_Bearing_is_of_Good_Quality">how to know quality</button>
<button class="btn btn-primary" routerLink="/blogs/Universal_joints_also_known_as_U_joints_or_universal">universal joints</button>
<ul>Products</ul>
<button class="btn btn-primary" routerLink="/products/ball-bearings">ball bear.</button>
<button class="btn btn-primary" routerLink="/products/clutch-bearings">clutch bear.</button>
<button class="btn btn-primary" routerLink="/products/cylindrical-rooler-bearings">cylindrical-roller</button>
<button class="btn btn-primary" routerLink="/products/kingpin-bearings">kingpin-bear.</button>
<button class="btn btn-primary" routerLink="/products/needle-bearings">needle-bear.</button>
<button class="btn btn-primary" routerLink="/products/spherical-bearings">spherical-roller</button>
<button class="btn btn-primary" routerLink="/products/steering-bearings">steering bear.</button>
<button class="btn btn-primary" routerLink="/products/tapper-roller-bearings">tapper-roller</button>
<button class="btn btn-primary" routerLink="/products/thrust-bearings">thrust-bear.</button>
<button class="btn btn-primary" routerLink="/products/uc-bearings">uc-bear.</button>
<button class="btn btn-primary" routerLink="/products/universal-join-cross">univerisal-bear.</button>
<button class="btn btn-primary" routerLink="/products/water-pump-bearings">water-pump bear.</button> -->

<!-- 1 -->
<section class="main-rrr px-lg-4">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <div class="imglogo">
        <img src="/assets/img/logo.png" class="main-logos" routerLink="/" alt="" />
      </div>
      <div class="calls-links">
        <a class="calllinks">
          <img src="/assets/img/calling.png" alt="" class="me-1 ms-0" /> +91
          9999699291</a
        >
        <a class="calllinks">
          <img src="/assets/img/message.png" alt="" class="me-1" />
          info@rrbbearings.com</a
        >
      </div>
    </div>
  </div>
</section>
<!-- 2 -->
<nav class="navbar main-navbar navbar-expand-lg navbar-light px-lg-4">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbx">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">PRODUCTS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blogs/Indian_vs_Chinese_Ball_Bearings">BLOGS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
