.main-rrr {
    padding: 10px;
}

.main-rrr .calllinks {
    font-size: 16px;
    text-decoration: none;
    color: #1B4582;
    font-weight: 500;
}
a{
    text-decoration: none;
}
.main-navbar {background-color: #1B4582;padding: 20px 0px;}

.main-navbar  .navbx .nav-link {
    color: #fff;
    font-weight: 900;
    margin: 0px 12px;
}

.main-navbar  .navbx .nav-link.active{
    color: #fff !important;
}


.calllinks img {
    width: 43px;
    height: 43px;
    border-radius: 81px;
    background-color: #1B4582;
    object-fit: contain;
    padding: 8px;
    margin-left: 35px;
}