<div class="main-about">
     <div class="bg-image">
    <div class="row h-100 align-items-center p-5">
        <div class="col-md-12">
        <h3 class="products">PRODUCTS</h3>
        <div class="banner-text">
            <span><i class="fa fa-home" aria-hidden="true"></i></span>
            <span>HOME <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            <span>All Products</span>
        </div>
        </div>
    </div>
    </div> 

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/tapper-roller-bearings">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">Taper Roller Bearings</h3>
                    <p class="discover">Discover our advanced roller<br> bearing solutions designed for max...</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/parts-1.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/ball-bearings">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">BALL BEARINGS</h3>
                    <p class="discover">Explore our versatile ball bearing<br> solutions designed for precision and durability.</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/parts-2.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/uc-bearings">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">UC BEARINGS</h3>
                    <p class="discover">Discover our robust taper roller<br>  bearing solutions, specifically desig.</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/parts-3.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/water-pump-bearings">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">WATER PUMP BEARINGS</h3>
                    <p class="discover">Discover our efficient water pump <br> bearing solutions, designed to enh.</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/water.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/clutch-bearings">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">CLUTCH BEARINGS</h3>
                    <p class="discover">Discover our optimized clutch <br> bearing solutions designed to ensu.</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/clutch.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/universal-join-cross">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">UNIVERSAL JOINT CROSS</h3>
                    <p class="discover">Discover our robust taper roller <br> bearing solutions, specifically desig.</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/uni.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/steering-bearings">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">STEERING BEARINGS</h3>
                    <p class="discover">Discover our advanced roller <br> bearing solutions designed for max.</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/steering.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/needle-bearings">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">NEEDLE BEARINGS</h3>
                    <p class="discover">Explore our versatile ball bearing <br> solutions designed for precision an.</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/needl.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/cylindrical-rooler-bearings">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">CYLINDRICAL ROLLER BEARINGS</h3>
                    <p class="discover">Discover our robust taper roller <br> bearing solutions, specifically desig.</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/cyl.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/spherical-bearings">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">SPHERICAL ROLLER BEARINGS</h3>
                    <p class="discover">Discover our efficient water pump <br> bearing solutions, designed to enh.</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/sph.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/kingpin-bearings">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">KINGPIN BEARINGS</h3>
                    <p class="discover">Discover our optimized clutch <br> bearing solutions designed to ensur.</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/kingpin.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" routerLink="/products/thrust-bearings">
                <div class="image-product">
                    <div class="row mx-0 align-items-center h-100 p-4">
                        <div class="col-md-12 p-0">
                        <img src="/assets/img/card-10.png">
                    <h3 class="taper mt-4">THRUST BEARINGS</h3>
                    <p class="discover">Discover our robust taper roller <br> bearing solutions, specifically desig.</p>
                    <p class="read more">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="w-100 card-image" src="/assets/img/thurst.png">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
    </div>
    