<section class="about-section">
    <div class="container">
        <div class="row align-items-start justify-content-start">
            <div class="col-12">
                <h2 class="blogs-full">ABOUT US</h2>
                <ul class="ul-blogs mt-3" >
                    <li><img src="/assets/img/blogs-home.png" alt="" class="mr-3 image-blog"> HOME <img src="/assets/img/right-arrow.png" class="right-arrow me-3" alt=""> ABOUT US</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg6">
          <div class="d-flex align-items-center gap-2">
            <div class="trusted-customers d-flex flex-column p-4 rounded-3">
              <img src="/assets/img/multi-star.png" alt="" class="users" />
              <h4 class="numbersk">100k</h4>
              <p class="customers">Trusted Customers</p>
            </div>
            <img src="/assets/img/rrb-1.png" class="img-fluid set-rrb1" alt="" />
          </div>
          <div class="d-flex align-items-center gap-2 mt-4 position-relative">
            <img src="/assets/img/rrb-2.png" class="img-fluid set-rrb2" alt="" />
            <div
              class="trusted-customers d-flex flex-column p-4 rounded-3 set_abs"
            >
              <img src="/assets/img/office-bag.png" alt="" class="users" />
              <h4 class="numbersk">100k</h4>
              <p class="customers">Trusted Customers</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg6">
          <div class="all-knows">
            <h2 class="d-flex align-items-center know-abut">
              <span class="line-about"></span> KNOW ABOUT US
            </h2>
            <h2 class="strength-abouts">
              Strengthen Your Machinery with RRB Bearings
            </h2>
            <p class="ligt-rrb">
              RRB Bearings deliver top-tier performance and durability, designed
              to meet the rigorous demands of the industrial sector. With
              precision engineering, we ensure optimal functionality and extended
              lifespan for your machinery.
            </p>
  
            <ul class="avialiblity">
              <li class="d-flex align-items-center gap-3 set_all">
                <img src="/assets/img/medal1.png" class="medal-img" alt="" />
                <div class="duriablity d-flex flex-column">
                  <h3 class="ddecades-abs">Decades of Durability</h3>
                  <p class="thirsty-abs">
                    With over thirty years of expertise, RRB Bearings delivers
                    revolutionary solutions that ensure smooth and reliable
                    industrial performance with every rotation.
                  </p>
                </div>
              </li>
              <li class="d-flex align-items-center gap-3 set_all">
                <img src="/assets/img/medal.png" class="medal-img" alt="" />
                <div class="duriablity d-flex flex-column">
                  <h3 class="ddecades-abs">Proven Quality</h3>
                  <p class="thirsty-abs">
                    Each RRB Bearing is rigorously tested to meet international
                    standards, proudly made in India, and trusted to withstand any
                    mechanical stress.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


<section class="mission-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mission">OUR MISSION</h2>
                <ul class="ul-banner">
<li class="all-lis">
    <h2 class="al-quality" >Quality Commitment:</h2>
    <p class="all-to">To consistently deliver high-quality bearings that meet or exceed our customers' expectations.</p>
</li>

<li class="all-lis">
    <h2 class="al-quality" >Innovation in Engineering:</h2>
    <p class="all-to">To consistently deliver high-quality bearings that meet or exceed our customers' expectations.</p>
</li>
<li class="all-lis">
    <h2 class="al-quality" >Customer Focus:</h2>
    <p class="all-to">To consistently deliver high-quality bearings that meet or exceed our customers' expectations.</p>
</li>
<li class="all-lis">
    <h2 class="al-quality" >Sustainability Practices:</h2>
    <p class="all-to">To consistently deliver high-quality bearings that meet or exceed our customers' expectations.</p>
</li>
<li class="all-lis">
    <h2 class="al-quality" >Employee Development:</h2>
    <p class="all-to">To consistently deliver high-quality bearings that meet or exceed our customers' expectations.</p>
</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="vission-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mission">OUR VISSION</h2>
                <ul class="ul-banner">
<li class="all-lis-v">
    <h2 class="al-quality" >Quality Commitment:</h2>
    <p class="all-to">To consistently deliver high-quality bearings that meet or exceed our customers' expectations.</p>
</li>

<li class="all-lis-v">
    <h2 class="al-quality" >Innovation in Engineering:</h2>
    <p class="all-to">To consistently deliver high-quality bearings that meet or exceed our customers' expectations.</p>
</li>
<li class="all-lis-v">
    <h2 class="al-quality" >Customer Focus:</h2>
    <p class="all-to">To consistently deliver high-quality bearings that meet or exceed our customers' expectations.</p>
</li>
<li class="all-lis-v">
    <h2 class="al-quality" >Sustainability Practices:</h2>
    <p class="all-to">To consistently deliver high-quality bearings that meet or exceed our customers' expectations.</p>
</li>
<li class="all-lis-v">
    <h2 class="al-quality" >Employee Development:</h2>
    <p class="all-to">To consistently deliver high-quality bearings that meet or exceed our customers' expectations.</p>
</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="appli">
<div class="container">
    <div class="d-flex align-items-center justify-content-center gap-3 mb-3"><div class="borderblack"></div><div class="black-header">our 3 step quality control system</div><div class="borderblack"></div></div>
    <div class="all-titles">
        From Agriculture to Industry: <br> Our Bearings Drive India's Growth
    </div>
    <div class="row justify-content-center gap-3 align-items-center ">
        <div class="col-md-2">
            <div class="text-center mb-4">
                <img src="/assets/img/bike.png" class="img-fluid" alt="">
                <h2 class="aplic">2 WHEELER</h2>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center mb-4">
                <img src="/assets/img/bike.png" class="img-fluid" alt="">
                <h2 class="aplic">3 WHEELER</h2>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center mb-4">
                <img src="/assets/img/bike.png" class="img-fluid" alt="">
                <h2 class="aplic">4 WHEELER</h2>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center mb-4">
                <img src="/assets/img/bike.png" class="img-fluid" alt="">
                <h2 class="aplic">TRACTORS</h2>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center mb-4">
                <img src="/assets/img/bike.png" class="img-fluid" alt="">
                <h2 class="aplic">LCV.HCV</h2>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center mb-4">
                <img src="/assets/img/bike.png" class="img-fluid" alt="">
                <h2 class="aplic">INDUSTRIES</h2>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center mb-4">
                <img src="/assets/img/bike.png" class="img-fluid" alt="">
                <h2 class="aplic">RAILWAY</h2>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center mb-4">
                <img src="/assets/img/bike.png" class="img-fluid" alt="">
                <h2 class="aplic">ROTRAVATOR</h2>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center mb-4">
                <img src="/assets/img/bike.png" class="img-fluid" alt="">
                <h2 class="aplic">COMBINE</h2>
            </div>
        </div>
    </div>
</div>
</section>


<section class="work">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center gap-3 mb-3"><div class="borderblue"></div><div class="blue-header">WORK PROCESS</div><div class="borderblue"></div></div>
        <div class="all-titles">
            Engineering Excellence, <br> Delivered
        </div>
        <div class="row mb-5 pt-3">
            <div class="col-lg-4">
                <div class="all-wrok">
                    <img src="/assets/img/setting-fix.png" class="img-fluid mb-3" alt="">
                    <h2 class="mau">Design  </h2>
                    <p class="par-mau" >
                        We use advanced CAD technology to design precision bearings tailored to meet specific customer demands.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mt-lg-5">
                <div class="all-wrok ">
                    <img src="/assets/img/setting-fix.png" class="img-fluid mb-3" alt="">
                    <h2 class="mau">Manufacturing</h2>
                    <p class="par-mau" >
                        Our bearings are proudly manufactured in India with state-of-the-art CNC machines, ensuring high precision and consistency.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="all-wrok ">
                    <img src="/assets/img/setting-fix.png" class="img-fluid mb-3" alt="">
                    <h2 class="mau">Quality Assurance</h2>
                    <p class="par-mau" >
                        Each bearing is rigorously tested and quickly distributed to ensure they meet the highest standards before reaching our clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="solutions my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div>
            <div class="d-flex gap-2 align-items-center mb-2">
              <span class="book-span">Our Distributors</span>
              <div class="left-border"></div>
            </div>
            <h2 class="strength-abouts">Expert Bearing Solutions Delivered</h2>
            <p _ngcontent-ng-c2475334694="" class="ligt-rrb">
              RRB Bearings proudly offers skilled distributors delivering
              top-quality bearing solutions, ensuring every product meets our high
              standards for performance and reliability.
            </p>
  
            <div class="position-relative left-cons">
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="13"
                  viewBox="0 0 18 13"
                  fill="none"
                >
                  <line
                    x1="18"
                    y1="7"
                    x2="3"
                    y2="7"
                    stroke="#1B4582"
                    stroke-width="2"
                  />
                  <path
                    d="M8.52372e-07 6.5L9.75 0.870836L9.75 12.1292L8.52372e-07 6.5Z"
                    fill="#1B4582"
                  />
                </svg>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="13"
                  viewBox="0 0 18 13"
                  fill="none"
                >
                  <line
                    x1="8.74228e-08"
                    y1="6"
                    x2="15"
                    y2="6"
                    stroke="#1B4582"
                    stroke-width="2"
                  />
                  <path
                    d="M18 6.5L8.25 12.1292L8.25 0.870834L18 6.5Z"
                    fill="#1B4582"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <!-- <div class="inner-background">
            <div class="blue-bg-slide">
              <img src="/assets/img/setting-fix.png/assets/img/image.png" alt="" class="bg-rev-img" />
              <img
                src="/assets/img/image (1).png"
                alt=""
                class="border-slider-img"
              />
              <div class="blueit"></div>
              <div class="bomby-div">
                <p>BOMBAY</p>
              </div>
            </div>
          </div> -->
          <div class="container james">
            <div
              id="carouselExampleCaptions"
              class="carousel slide"
              data-bs-ride="carousel"
              data-bs-interval="false"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/image (1).png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>BOMBAY</p>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e2.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>DELHI</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e3.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>HARYANA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e4.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>UTTRAKHAND</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e5.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>PUNJAB</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e6.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>GUJRAT</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e7.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>RAJASTHAN</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e8.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>ASSAM</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/TAMIL.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>TAMIL NADU</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e9.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>KARNATAKA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e10.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>BIHAR</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e11.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>KERALA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e12.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>UP</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="inner-background">
                    <div class="blue-bg-slide">
                      <img
                        src="/assets/img/image.png"
                        alt=""
                        class="bg-rev-img"
                      />
                      <img
                        src="/assets/img/e13.png"
                        alt=""
                        class="border-slider-img"
                      />
                      <div class="blueit"></div>
                      <div class="bomby-div">
                        <p>MP</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-center">
              <div class="bomby-div">
                <p>BOMBAY</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our PRODUCTS COMPATIBLE WITH -->

<section class="products-section">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center gap-3 mb-3">
        <div class="borderWhite"></div>
        <div class="white-header">Our PRODUCTS COMPATIBLE WITH</div>
        <div class="borderWhite"></div>
      </div>
  
      <div class="d-flex gap-3 my-5 flex-wrap">
        <div class="white-box">
          <img src="/assets/img/John_Deere_logo.svg 1.png" alt="" />
        </div>
        <div class="white-box">
          <img src="/assets/img/image 31.png" alt="" />
        </div>
        <div class="white-box">
          <img src="/assets/img/image 32.png" alt="" />
        </div>
        <div class="white-box">
          <img src="/assets/img/image 33.png" alt="" />
        </div>
        <div class="white-box">
          <img src="/assets/img/image 34.png" alt="" />
        </div>
        <div class="white-box">
          <img src="/assets/img/image 35.png" alt="" />
        </div>
        <div class="white-box">
          <img src="/assets/img/image 36.png" alt="" />
        </div>
        <div class="white-box">
          <img src="/assets/img/image 37.png" alt="" />
        </div>
        <div class="white-box">
          <img src="/assets/img/image 38.png" alt="" />
        </div>
        <div class="white-box">
          <img src="/assets/img/image 39.png" alt="" />
        </div>
        <div class="white-box">
          <img src="/assets/img/image 40.png" alt="" />
        </div>
      </div>
  
      <div>
        <div>
          <div class="exp-section">
            <img
              src="/assets/img/collage-customer-experience-concept 1.png"
              alt=""
            />
            <div class="exp-section-inner"></div>
  
            <div class="balck-box">
                <h2 class="d-flex align-items-center gap-2 balc-box-header mb-3">
                  <span class="blac-box-border"></span> CLIENT REVIEWS
                </h2>
    
                <p class="back-boc-pera mb-5">WHAT OUR CLIENT SAYS</p>
                <div class="container james2">
                  <div
                    id="carouselExampleCaptionss"
                    class="carousel slide"
                    data-bs-ride="carousel"
                    data-bs-interval="false"
                  >
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div>
                          <div class="d-flex gap-2">
                            <div class="round-section">R</div>
                            <div>
                              <p class="round-p">Rohit Mehra</p>
                              <p class="round-desc">
                                RRB Bearings se mere machines ka performance bohot
                                improve hua hai. Ye bearings waakai me durable aur
                                reliable hain.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="carousel-item">
                        <div>
                          <div class="d-flex gap-2">
                            <div class="round-section">P</div>
                            <div>
                              <p class="round-p">Priya Singh</p>
                              <p class="round-desc">
                                Hamare heavy-duty applications ke liye RRB Bearings
                                sabse achha solution hai. Inki quality aur service
                                dono hi first-class hain.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div>
                          <div class="d-flex gap-2">
                            <div class="round-section">A</div>
                            <div>
                              <p class="round-p">Anil Kumar</p>
                              <p class="round-desc">
                                Mujhe RRB Bearings ki customization service bahut
                                pasand aayi. Jo bhi specific requirements thi, sab
                                meet ho gayi.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div>
                          <div class="d-flex gap-2">
                            <div class="round-section">S</div>
                            <div>
                              <p class="round-p">Sunita Devi</p>
                              <p class="round-desc">
                                RRB Bearings ka use karke downtime me kafi kami aayi
                                hai, jo cost-saving ke liye kamaal ka hai. Highly
                                recommend!
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="position-relative left-cons mt-5">
                      <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleCaptionss"
                        data-bs-slide="prev"
                      >
                        <div class="balc-left-arrow">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="13"
                            viewBox="0 0 18 13"
                            fill="none"
                          >
                            <line
                              x1="18"
                              y1="7"
                              x2="3"
                              y2="7"
                              stroke="white"
                              stroke-width="2"
                            />
                            <path
                              d="M9.25 11.2631L1 6.5L9.25 1.73686L9.25 11.2631Z"
                              fill="white"
                              stroke="white"
                            />
                          </svg>
                        </div>
                      </button>
                      <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleCaptionss"
                        data-bs-slide="next"
                      >
                        <div class="balc-rigth-arrow">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="13"
                            viewBox="0 0 18 13"
                            fill="none"
                          >
                            <line
                              x1="8.74228e-08"
                              y1="6"
                              x2="15"
                              y2="6"
                              stroke="white"
                              stroke-width="2"
                            />
                            <path
                              d="M18 6.5L8.25 12.1292L8.25 0.870834L18 6.5Z"
                              fill="white"
                            />
                          </svg>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>