<section class="footer-section">
    <div class="container">
    <div class="rrb-footer">
       
            <div class="d-flex justify-content-between">
               
                    <img src="/assets/img/logo-footer.png" class="img-footer" alt="">
             
                
                <div class="d-flex gap-3 align-items-center">
                    <img src="/assets/img/call.png" class="me-3" alt=""> <h2 class="number-footer">+91 9999699291</h2>
                </div>
                
                <div class="d-flex align-items-center gap-3">
<img src="/assets/img/fb.png" class="img-calss" alt="">
<img src="/assets/img/insta.png" class="img-calss" alt="">
<img src="/assets/img/link.png" class="img-calss" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <ul class="footer-ulsa">
                    <li routerLink="/">HOME</li>
                    <li routerLink="/about-us">ABOUT US</li>
                    <li routerLink="/products">PRODUCTS</li>
                    <li routerLink="/blogs">BLOGS</li>
                    <li routerLink="/contact-us">CONTACT US</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="footer-uls">
                    <li routerLink="/products/tapper-roller-bearings">Taper Roller Bearings</li>
                    <li routerLink="/products/ball-bearings">Ball Bearings</li>
                    <li routerLink="/products/uc-bearings">UC Bearings</li>
                    <li routerLink="/products/water-pump-bearings">Water Pump Bearings</li>
                    <li routerLink="/products/clutch-bearings">Clutch Bearings</li>
                    <li routerLink="/products/universal-join-cross">Universal Joint Cross</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="footer-uls">
                    <li routerLink="/products/steering-bearings">Steering Bearings</li>
                    <li routerLink="/products/needle-bearings">Needle Bearing</li>
                    <li routerLink="/products/cylindrical-rooler-bearings">Cylindrical Roller Bearings</li>
                    <li routerLink="/products/spherical-bearings">Spherical Roller Bearings</li>
                    <li routerLink="/products/kingpin-bearings">Kingpin Bearing</li>
                    <li routerLink="/products/thrust-bearings">Thrust Bearing</li>
                </ul>
            </div>
             <div class="col-lg-4">
                <ul class="footer-uls">
                    <li class="d-flex align-items-center gap-4 justify-content-end">
                       <h4 class="addres"> 633/3 ,Hamilton Road,
                        Kashmere Gate, Delhi -110006 </h4> <img src="/assets/img/footer-map.png" class="small-footer" alt="">
                    </li>
                    <li class="d-flex align-items-center gap-4 justify-content-end">
                        <h4 class="addres"> +91 9999699291 </h4> <img src="/assets/img/footer-call.png" class="small-footer" alt="">
                     </li>
                     <li class="d-flex align-items-center gap-4 justify-content-end">
                        <h4 class="addres"> info@rrbbearings.com </h4> <img src="/assets/img/footer-mail.png" class="small-footer" alt="">
                     </li>
                </ul>
            </div>
        </div>
      
    </div>
    <div class="copy">
        Copyright © RRB Bearings 2024. All Rights Reserved.
    </div>
    <div class="hr-copy" ></div>
    <div class="copy-names">
        DESIGNED BY TBB MEDIA
    </div>
</section>