<section class="hero-section">
  <div class="bear-bg">
    <div class="container d-flex justify-content-center flex-column h-100">
      <p class="bear-header">Products</p>
      <div class="d-flex align-items-center gap-3 mt-2">
        <span><img src="/assets/img/home-icon.png" alt="" /></span>

        <span class="nav-span">Home</span>
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="32"
            viewBox="0 0 8 10"
            fill="none"
          >
            <path
              d="M4.79102 5.22852L0.09375 3.2168V0.228516L7.38867 3.74414V5.98047L4.79102 5.22852ZM0.09375 6.86914L4.78125 4.80859L7.38867 4.11523V6.3418L0.09375 9.85742V6.86914Z"
              fill="white"
            /></svg
        ></span>
        <span class="nav-span">Products</span>
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="32"
            viewBox="0 0 8 10"
            fill="none"
          >
            <path
              d="M4.79102 5.22852L0.09375 3.2168V0.228516L7.38867 3.74414V5.98047L4.79102 5.22852ZM0.09375 6.86914L4.78125 4.80859L7.38867 4.11523V6.3418L0.09375 9.85742V6.86914Z"
              fill="white"
            /></svg
        ></span>
        <span class="nav-span">TAPPER-ROLLER BEARING</span>
      </div>
    </div>
  </div>
</section>

<section class="more-products-section mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="side-bar-bg">
          <div class="d-flex gap-3 align-items-center">
            <p class="side-bar-header m-0">More Products</p>
            <div class="sider-border"></div>
          </div>

          <div class="mt-3">
            <div
              class="d-flex gap-2 align-items-center mb-2 side-bar-box active"
              routerLink="/products/tapper-roller-bearings" >
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">Taper Roller Bearings</span>
            </div>
            <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
            routerLink="/products/ball-bearings">
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">Ball Bearings</span>
            </div>
            <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
            routerLink="/products/uc-bearings">
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">UC Bearings</span>
            </div>
            <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
            routerLink="/products/water-pump-bearings">
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">Water Pump Bearings</span>
            </div>
            <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
            routerLink="/products/clutch-bearings">
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">Clutch Bearings</span>
            </div>
            <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
            routerLink="/products/universal-join-cross">
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">Universal Joint Cross</span>
            </div>
            <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
            routerLink="/products/steering-bearings">
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">Steering Bearings</span>
            </div>
            <div class="d-flex gap-2 align-items-center mb-2 side-bar-box">
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">Needle Bearings</span>
            </div>
            <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
            routerLink="/products/needle-bearings">
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">Cylindrical Roller Bearings</span>
            </div>
            <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
            routerLink="/products/spherical-bearings">
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">Spherical Roller Bearings</span>
            </div>
            <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
            routerLink="/products/kingpin-bearings">
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">Kingpin Bearings</span>
            </div>
            <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
            routerLink="/products/thrust-bearings">
              <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
              <span class="sider-bar-text">Thrust Bearings</span>
            </div>
          </div>
        </div>

        <div class="mt-3">
          <div class="contact-box">
            <p class="contact-boxp-p">Contact Us</p>
            <p class="contactv-box-desc mt-2">
              Get in touch to <br />
              know more about <br />
              our complete range <br />
              of Products.
            </p>
            <span>
              <img src="/assets/img/call-icon.png" alt="" />
            </span>
            <p class="call-num pt-2">+91 9999699291</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-center border-col-2">
          <img src="/assets/img/rims-icon.png" alt="" class="rims-icon-img" />
        </div>
        <p class="rebiust-header mt-3">
          Robust Taper Roller <br />
          BearingS Solutions
        </p>
        <p class="rebist-desc mt-2">
          Discover our robust taper roller bearing solutions, specifically
          designed to handle both radial and thrust loads with superior
          efficiency. These bearings are ideal for applications that involve
          heavy loads and require high stiffness, such as gearboxes, hoisting
          equipment, and vehicle axles. Their tapered rollers allow for greater
          force absorption and load distribution across varied operating
          conditions.
        </p>

        <p class="rebiust-header mt-3">
          Precision Crafted for <br />
          Heavy-Duty Performance
        </p>
        <p class="rebist-desc mt-2">
          Our taper roller bearings are precision crafted to meet the demanding
          requirements of modern machinery. They offer exceptional load
          distribution, which minimizes wear and increases the reliability of
          your equipment. Designed to support radial and axial loads, our taper
          roller bearings ensure smooth operation and are indispensable in
          settings that require high durability and precision alignment.
        </p>

        <div class="row pt-3">
          <div class="col-sm-6">
            <div class="text-center col-border">
              <img src="/assets/img/left.png" alt="" class="left-img" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="text-center col-border">
              <img src="/assets/img/rigth.png" alt="" class="left-img" />
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="d-flex gap-2 align-items-center mb-3">
            <span
              ><i class="fa-solid fa-angles-right" style="color: #1b4582"></i
            ></span>
            <span>
              <span class="darkspan">Combined Load Capacity: </span>
              <span class="light-span"
                >Handles radial and axial forces effectively.</span
              >
            </span>
          </div>

          <div class="d-flex gap-2 align-items-center mb-3">
            <span
              ><i class="fa-solid fa-angles-right" style="color: #1b4582"></i
            ></span>
            <span>
              <span class="darkspan">Enhanced Durability: </span>
              <span class="light-span">
                Engineered to withstand tough conditions.</span
              >
            </span>
          </div>

          <div class="d-flex gap-2 align-items-center mb-3">
            <span
              ><i class="fa-solid fa-angles-right" style="color: #1b4582"></i
            ></span>
            <span>
              <span class="darkspan">Improved Alignment:</span>
              <span class="light-span">
                Maintains precise component positioning.</span
              >
            </span>
          </div>

          <div class="d-flex gap-2 align-items-center mb-3">
            <span
              ><i class="fa-solid fa-angles-right" style="color: #1b4582"></i
            ></span>
            <span>
              <span class="darkspan">Efficient Performance: </span>
              <span class="light-span">
                Reduces friction, boosts reliability.</span
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
