<section class="hero-section">
    <div class="bear-bg">
      <div class="container d-flex justify-content-center flex-column h-100">
        <p class="bear-header">Products</p>
        <div class="d-flex align-items-center gap-3 mt-2">
          <span><img src="/assets/img/home-icon.png" alt="" /></span>
  
          <span class="nav-span">Home</span>
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="8"
              height="32"
              viewBox="0 0 8 10"
              fill="none"
            >
              <path
                d="M4.79102 5.22852L0.09375 3.2168V0.228516L7.38867 3.74414V5.98047L4.79102 5.22852ZM0.09375 6.86914L4.78125 4.80859L7.38867 4.11523V6.3418L0.09375 9.85742V6.86914Z"
                fill="white"
              /></svg
          ></span>
          <span class="nav-span">Products</span>
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="8"
              height="32"
              viewBox="0 0 8 10"
              fill="none"
            >
              <path
                d="M4.79102 5.22852L0.09375 3.2168V0.228516L7.38867 3.74414V5.98047L4.79102 5.22852ZM0.09375 6.86914L4.78125 4.80859L7.38867 4.11523V6.3418L0.09375 9.85742V6.86914Z"
                fill="white"
              /></svg
          ></span>
          <span class="nav-span">KINGPIN BEARING</span>
        </div>
      </div>
    </div>
  </section>
  
  <section class="more-products-section mt-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="side-bar-bg">
            <div class="d-flex gap-3 align-items-center">
              <p class="side-bar-header m-0">More Products</p>
              <div class="sider-border"></div>
            </div>
  
            <div class="mt-3">
              <div
                class="d-flex gap-2 align-items-center mb-2 side-bar-box"
              routerLink="/products/tapper-roller-bearings" >
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">Taper Roller Bearings</span>
              </div>
              <div class="d-flex gap-2 align-items-center mb-2 side-bar-box "
              routerLink="/products/ball-bearings">
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">Ball Bearings</span>
              </div>
              <div class="d-flex gap-2 align-items-center mb-2 side-bar-box" 
              routerLink="/products/uc-bearings">
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">UC Bearings</span>
              </div>
              <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
              routerLink="/products/water-pump-bearings">
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">Water Pump Bearings</span>
              </div>
              <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
              routerLink="/products/clutch-bearings">
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">Clutch Bearings</span>
              </div>
              <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
              routerLink="/products/universal-join-cross">
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">Universal Joint Cross</span>
              </div>
              <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
              routerLink="/products/steering-bearings">
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">Steering Bearings</span>
              </div>
              <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
              routerLink="/products/needle-bearings">
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">Needle Bearings</span>
              </div>
              <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
              routerLink="/products/cylindrical-rooler-bearings">
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">Cylindrical Roller Bearings</span>
              </div>
              <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
              routerLink="/products/spherical-bearings">
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">Spherical Roller Bearings</span>
              </div>
              <div class="d-flex gap-2 align-items-center mb-2 side-bar-box active"
              routerLink="/products/kingpin-bearings">
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">Kingpin Bearings</span>
              </div>
              <div class="d-flex gap-2 align-items-center mb-2 side-bar-box"
              routerLink="/products/thrust-bearings">
                <i class="fa-solid fa-angles-right siderbar-right-icon"></i>
                <span class="sider-bar-text">Thrust Bearings</span>
              </div>
            </div>
          </div>
  
          <div class="mt-3">
            <div class="contact-box">
              <p class="contact-boxp-p">Contact Us</p>
              <p class="contactv-box-desc mt-2">
                Get in touch to <br />
                know more about <br />
                our complete range <br />
                of Products.
              </p>
              <span>
                <img src="/assets/img/call-icon.png" alt="" />
              </span>
              <p class="call-num pt-2">+91 9999699291</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="text-center border-col-2">
            <img src="/assets/img/taper.png" alt="" class="rims-icon-img" />
          </div>
          <p class="rebiust-header mt-3">
            Robust Kingpin <br> BearingS Solutions
          </p>
          <p class="rebist-desc mt-2">
            Explore our robust Kingpin Bearings solutions, designed to ensure the durability and reliability of steering mechanisms in vehicles. Kingpin bearings are pivotal in the pivotal suspension of trucks and heavy-duty vehicles, allowing for precise steering and alignment. Our bearings are crafted to withstand the high stresses imposed by these critical steering components, enhancing vehicle control and stability.
          </p>
  
          <p class="rebiust-header mt-3">
            Engineered for Enhanced <br> Steering Performance
          </p>
          <p class="rebist-desc mt-2">
            Our Kingpin Bearings are engineered to optimize the performance of your vehicle's steering system. They support the kingpin, which is essential for the articulation of steering axles, reducing wear and tear while improving maneuverability. Ideal for heavy-duty applications, these bearings maintain their integrity under heavy loads and in harsh conditions.
          </p>
  
          <div class="row pt-3">
            <div class="col-sm-6">
              <div class="text-center col-border">
                <img src="/assets/img/king2.png" alt="" class="left-img" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="text-center col-border">
                <img src="/assets/img/rigth.png" alt="" class="left-img" />
              </div>
            </div>
          </div>
  
          <div class="mt-4">
            <div class="d-flex gap-2 align-items-center mb-3">
              <span
                ><i class="fa-solid fa-angles-right" style="color: #1b4582"></i
              ></span>
              <span>
                <span class="darkspan">Precision Steering Support:</span>
                <span class="light-span"
                  > Ensures accurate axle alignment.</span
                >
              </span>
            </div>
  
            <div class="d-flex gap-2 align-items-center mb-3">
              <span
                ><i class="fa-solid fa-angles-right" style="color: #1b4582"></i
              ></span>
              <span>
                <span class="darkspan">High Stress Resistance:  </span>
                <span class="light-span">
                    Built to endure rigorous operating conditions.</span
                >
              </span>
            </div>
  
            <div class="d-flex gap-2 align-items-center mb-3">
              <span
                ><i class="fa-solid fa-angles-right" style="color: #1b4582"></i
              ></span>
              <span>
                <span class="darkspan">Improved Maneuverability:</span>
                <span class="light-span">
                     Facilitates smoother steering responses.</span
                >
              </span>
            </div>
  
            <div class="d-flex gap-2 align-items-center mb-3">
              <span
                ><i class="fa-solid fa-angles-right" style="color: #1b4582"></i
              ></span>
              <span>
                <span class="darkspan">Long-Lasting Durability:</span>
                <span class="light-span">
                     Withstands continuous use in heavy vehicles.</span
                >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  