<section class="home-banner px-lg-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="all-bannerhomes">
          <h5 class="small-para d-flex align-items-center gap-2">
            <span class="title-lines"></span> Performance Excellence
          </h5>
          <h2 class="title-heading">
            Unmatched Strength, <br />   
            Engineered Performance by RRB
          </h2>
          <p class="home-achieve">
            To achieve business success, brand advertising and marketing play
            essential roles. Similarly, in cultivation, durability and strength
            are crucial. RRB Bearings ensure peak performance and excellence.
          </p>
          <button class="btn btn-primary contactis" routerLink="/contact-us">Contact us</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 2 -->
<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg6">
        <div class="d-flex align-items-center gap-2">
          <div class="trusted-customers d-flex flex-column p-4 rounded-3">
            <img src="/assets/img/multi-star.png" alt="" class="users" />
            <h4 class="numbersk">100k</h4>
            <p class="customers">Trusted Customers</p>
          </div>
          <img src="/assets/img/rrb-1.png" class="img-fluid set-rrb1" alt="" />
        </div>
        <div class="d-flex align-items-center gap-2 mt-4 position-relative">
          <img src="/assets/img/rrb-2.png" class="img-fluid set-rrb2" alt="" />
          <div
            class="trusted-customers d-flex flex-column p-4 rounded-3 set_abs"
          >
            <img src="/assets/img/office-bag.png" alt="" class="users" />
            <h4 class="numbersk">100k</h4>
            <p class="customers">Trusted Customers</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg6">
        <div class="all-knows">
          <h2 class="d-flex align-items-center know-abut">
            <span class="line-about"></span> KNOW ABOUT US
          </h2>
          <h2 class="strength-abouts">
            Strengthen Your Machinery with RRB Bearings
          </h2>
          <p class="ligt-rrb">
            RRB Bearings deliver top-tier performance and durability, designed
            to meet the rigorous demands of the industrial sector. With
            precision engineering, we ensure optimal functionality and extended
            lifespan for your machinery.
          </p>

          <ul class="avialiblity">
            <li class="d-flex align-items-center gap-3 set_all">
              <img src="/assets/img/medal1.png" class="medal-img" alt="" />
              <div class="duriablity d-flex flex-column">
                <h3 class="ddecades-abs">Decades of Durability</h3>
                <p class="thirsty-abs">
                  With over thirty years of expertise, RRB Bearings delivers
                  revolutionary solutions that ensure smooth and reliable
                  industrial performance with every rotation.
                </p>
              </div>
            </li>
            <li class="d-flex align-items-center gap-3 set_all">
              <img src="/assets/img/medal.png" class="medal-img" alt="" />
              <div class="duriablity d-flex flex-column">
                <h3 class="ddecades-abs">Proven Quality</h3>
                <p class="thirsty-abs">
                  Each RRB Bearing is rigorously tested to meet international
                  standards, proudly made in India, and trusted to withstand any
                  mechanical stress.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 3 -->

<div class="container">
  <div class="blue-bx">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 px-3">
        <div
          class="d-flex align-items-center gap-2 justify-content-center setchap"
        >
          <img src="/assets/img/chap1.png" class="img-fluid chap1" alt="" />
          <div>
            <h4 class="hunderdk">100k+</h4>
            <p class="hunderdk">Trusted Customers</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 px-3">
        <div
          class="d-flex align-items-center gap-2 justify-content-center setchap"
        >
          <img src="/assets/img/chap2.png" class="img-fluid chap1" alt="" />
          <div>
            <h4 class="hunderdk">30 Years</h4>
            <p class="hunderdk">Of Experience</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 px-3">
        <div
          class="d-flex align-items-center gap-2 justify-content-center setchap"
        >
          <img src="/assets/img/chap3.png" class="img-fluid chap1" alt="" />
          <div>
            <h4 class="hunderdk">200+</h4>
            <p class="hunderdk">Distributors</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 px-3">
        <div
          class="d-flex align-items-center gap-2 justify-content-center setchap1"
        >
          <img src="/assets/img/chap4.png" class="img-fluid chap1" alt="" />
          <div>
            <h4 class="hunderdk">100+ Quality</h4>
            <p class="hunderdk">Parameter Check</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 4  -->

<div class="slide-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          id="carouselExampleControls"
          class="carousel father-carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="imageOuter">
                <img
                  src="/assets/img/roller1.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">TAPER ROLLER BEARINGS</h2>
                <button class="btn btn-primary read-more" routerLink="/products/tapper-roller-bearings">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <div class="carousel-item">
              <div class="imageOuter">
                <img
                  src="/assets/img/roller2.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">BALL BEARINGS</h2>
                <button class="btn btn-primary read-more"  routerLink="/products/ball-bearings">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <div class="carousel-item">
              <div class="imageOuter">
                <img
                  src="/assets/img/roller3.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">UC BEARINGS</h2>
                <button class="btn btn-primary read-more"  routerLink="/products/uc-bearings">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
          
            </div>
            <div class="carousel-item">
              <div class="imageOuter">
                <img
                  src="/assets/img/water.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">WATER PUMP BEARINGS</h2>
                <button class="btn btn-primary read-more"  routerLink="/products/water-pump-bearings">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <div class="carousel-item">
              <div class="imageOuter">
                <img
                  src="/assets/img/clutch.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">CLUTCH BEARINGS</h2>
                <button class="btn btn-primary read-more"  routerLink="/products/clutch-bearings">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <div class="carousel-item">
              <div class="imageOuter">
                <img
                  src="/assets/img/uni.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">UNIVERSAL JOINT CROSS</h2>
                <button class="btn btn-primary read-more"  routerLink="/products/universal-join-cross">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <div class="carousel-item">
              <div class="imageOuter">
                <img
                  src="/assets/img/steering.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">STEERING BEARINGS</h2>
                <button class="btn btn-primary read-more"  routerLink="/products/steering-bearings">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <div class="carousel-item">
              <div class="imageOuter">
                <img
                  src="/assets/img/needl.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">NEEDLE BEARINGS</h2>
                <button class="btn btn-primary read-more"  routerLink="/products/needl-bearings">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <div class="carousel-item">
              <div class="imageOuter">
                <img
                  src="/assets/img/cyl.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">CYLINDRICAL ROLLER BEARINGS</h2>
                <button class="btn btn-primary read-more"  routerLink="/products/cylindrical-rooler-bearings">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <div class="carousel-item">
              <div class="imageOuter">
                <img
                  src="/assets/img/sph.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">SPHERICAL ROLLER BEARINGS</h2>
                <button class="btn btn-primary read-more"  routerLink="/products/spherical-bearings">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <div class="carousel-item">
              <div class="imageOuter">
                <img
                  src="/assets/img/kingpin.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">KINGPIN BEARINGS</h2>
                <button class="btn btn-primary read-more"  routerLink="/products/kingpin-bearings">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <div class="carousel-item">
              <div class="imageOuter">
                <img
                  src="/assets/img/thurst.png"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="set-roller">
                <h2 class="roller-heading">Thrust Bearings</h2>
                <button class="btn btn-primary read-more"  routerLink="/products/thrust-bearings">
                  Read More
                  <img
                    src="/assets/img/right-roller.png"
                    class="right-roller ml-1"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
          
        
        
         
          
          <div class="caro-buttons">
            <div class="d-flex gap-1">
              <div>
                <button
                  class="carousel-control-prev position-relative"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev"
                >
                  <i class="fa-solid fa-left-long" style="color: #1b4582"></i>
                </button>
              </div>
              <div>
                <button
                  class="carousel-control-next position-relative"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="next"
                >
                  <i class="fa-solid fa-right-long" style="color: #1b4582"></i>
                </button>
              </div>
            </div>
          </div>
          <!-- <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 5  -->

<section class="Bearing">
  <div class="container">
    <div class="text-center">
      <h2 class="center-bx position-relative mb-3">Why Choose RRB Bearings?</h2>
      <h2 class="relatible">
        Reliable Bearings, <br />
        Trusted Worldwide
      </h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 leftSide">
          <ul class="m-0 p-0">
            <li class="d-flex justify-content-end gap-3 mb-4">
              <div class="text-right">
                <h2 class="tile-bearing">Expert Craftsmanship</h2>
                <p class="para-bearing">
                  RRB Bearings are crafted with advanced technology, ensuring
                  exceptional precision and reliability for all your industrial
                  needs.
                </p>
              </div>
              <img src="/assets/img/bearing1.png" class="bearingImg" alt="" />
            </li>
            <li class="d-flex justify-content-end gap-3 mb-4">
              <div class="text-right">
                <h2 class="tile-bearing">Proudly Made in India</h2>
                <p class="para-bearing">
                  Manufactured with pride in India, our bearings stand for
                  quality and innovation, supporting the local economy and
                  engineering community.
                </p>
              </div>
              <img src="/assets/img/bearing2.png" class="bearingImg" alt="" />
            </li>
            <li class="d-flex justify-content-end gap-3">
              <div class="text-right">
                <h2 class="tile-bearing">Customized Solutions</h2>
                <p class="para-bearing">
                  We offer tailored bearing solutions that perfectly match
                  specific industrial applications, boosting efficiency and
                  performance.
                </p>
              </div>
              <img src="/assets/img/bearing3.png" class="bearingImg" alt="" />
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <img src="/assets/img/bearing-banner.png" class="img-fluid" alt="" />
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 righgtSide">
          <ul class="m-0 p-0">
            <li class="d-flex justify-content-start gap-3 mb-4">
              <img src="/assets/img/bearing4.png" class="bearingImg" alt="" />

              <div class="text-left">
                <h2 class="tile-bearing">Robust Performance</h2>
                <p class="para-bearing">
                  Our bearings are built to endure, supporting heavy loads and
                  reducing machinery downtime in challenging environments..
                </p>
              </div>
            </li>
            <li class="d-flex justify-content-start gap-3 mb-4">
              <img src="/assets/img/bearing5.png" class="bearingImg" alt="" />
              <div class="text-left">
                <h2 class="tile-bearing">Global Standards</h2>
                <p class="para-bearing">
                  Each bearing adheres to stringent international quality and
                  safety standards, providing a trustworthy solution for global
                  industries.
                </p>
              </div>
            </li>
            <li class="d-flex justify-content-start gap-3">
              <img src="/assets/img/bearing6.png" class="bearingImg" alt="" />

              <div class="text-left">
                <h2 class="tile-bearing">Eco-Friendly Manufacturing</h2>
                <p class="para-bearing">
                  We are committed to sustainable practices, utilizing green
                  technologies and methods to minimize environmental impact.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 6 -->

<section id="quality-section">
  <div class="balck-section">
    <div class="container">
      <div>
        <div
          class="d-flex align-items-center justify-content-center gap-3 mb-3"
        >
          <div class="borderWhite"></div>
          <div class="white-header">our 3 step quality control system</div>
          <div class="borderWhite"></div>
        </div>
      </div>

      <div class="pb-3">
        <p class="white-header-main">
          Engineered Excellence, Trusted Worldwide <br />
          Reliable Bearings, Proven Strength
        </p>
      </div>

      <div class="row mt-5 steps-row">
        <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
          <div class="black-inner-box">
            <div class="stepInner">Step 1</div>
            <p class="in-header">Precision Craftsmanship</p>
            <p class="inener-p">
              Subjected to stringent global standards for guaranteed
              reliability.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
          <div class="black-inner-box">
            <div class="stepInner">Step 1</div>
            <p class="in-header">Precision Craftsmanship</p>
            <p class="inener-p">
              Subjected to stringent global standards for guaranteed
              reliability.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="black-inner-box">
            <div class="stepInner">Step 1</div>
            <p class="in-header">Precision Craftsmanship</p>
            <p class="inener-p">
              Subjected to stringent global standards for guaranteed
              reliability.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Inner section -->

    <div class="container position-relative">
      <div class="bg-blue-box">
        <div class="row">
          <div class="col-sm-7">
            <div class="blue-left">
              <p class="stay-header">Stay Informed with RRB Bearings</p>
              <p class="stay-desc">
                Provide your email address below, and we'll promptly send you
                our comprehensive product brochure, packed with detailed
                information about our high-quality bearings and innovative
                solutions.
              </p>
              <div class="mt-4">
                <div class="d-flex">
                  <input
                    class="w-100 email-input"
                    type="email"
                    placeholder="Your Email Address "
                  />
                  <button class="d-flex align-items-center submit-btn">
                    Submit
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="13"
                        viewBox="0 0 18 13"
                        fill="none"
                      >
                        <line
                          x1="8.74228e-08"
                          y1="6"
                          x2="15"
                          y2="6"
                          stroke="#1B4582"
                          stroke-width="2"
                        />
                        <path
                          d="M18 6.5L8.25 12.1292L8.25 0.870834L18 6.5Z"
                          fill="#1B4582"
                        /></svg
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <img src="/assets/img/Frame 6.png" alt="" class="clls-img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 7 -->
<section id="call" class="call-section">
  <div class="position-relative">
    <div class="position-absolute">
      <img src="/assets/img/Frame 2.png" alt="" class="frame-img" />
    </div>
    <div class="container">
      <div class="row mt-5 manage-width-row">
        <div class="col-md-7">
          <div class="call-box pt-5 mt-5 z-5 position-relative">
            <div class="d-flex gap-2 align-items-center mb-2">
              <div class="left-border"></div>
              <span class="book-span">Book a call</span>
            </div>
            <p class="book-p mb-4">Your One step Ball Bearing Company</p>
            <form [formGroup]="myForm">
            <div class="row">
              <div class="col-6 mb-4">
                <div>
                  <input
                    type="text"
                    placeholder="Your Name"
                    class="call-input"
                    formControlName="name">
                    <div *ngIf="submitted && myForm.get('name')?.errors" class="text-danger">
                      <small *ngIf="myForm.get('name')?.errors?.['required']">Phone Number is required.</small>
                    </div>
                </div>
              </div>
              <div class="col-6 mb-4">
                <div>
                  <input
                    type="tel"
                    placeholder="Phone Number"
                    class="call-input"
                    formControlName="phoneNumber">
                    <div *ngIf="submitted && myForm.get('phoneNumber')?.errors" class="text-danger">
                      <small *ngIf="myForm.get('phoneNumber')?.errors?.['required']">Phone Number is required.</small>
                      <small *ngIf="myForm.get('phoneNumber')?.errors?.['minlength']">Phone Number is invalid.</small>
                    </div>
                </div>
              </div>
              <div class="col-12 mb-4">
                <input
                  type="email"
                  placeholder="Email Address"
                  class="call-input"
                  formControlName="email">
                  <div *ngIf="submitted && myForm.get('email')?.errors" class="text-danger">
                    <small *ngIf="myForm.get('email')?.errors?.['required']">Email is required.</small>
                    <small *ngIf="myForm.get('email')?.errors?.['email']">Email is invalid.</small>
                  </div>
              </div>
              <div class="col-12 mb-3">
                <textarea
                  type="text"
                  placeholder="Message Here..."
                  class="call-input"
                  formControlName="message"></textarea>
                  <div *ngIf="submitted && myForm.get('message')?.errors" class="text-danger">
                    <small *ngIf="myForm.get('message')?.errors?.['required']">Message is required.</small>
                  </div>
              </div>
              <div class="col-12">
                <button class="d-flex align-items-center call-now" (click)="onSubmit()">
                  Call Now
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="13"
                      viewBox="0 0 18 13"
                      fill="none"
                    >
                      <line
                        x1="8.74228e-08"
                        y1="6"
                        x2="15"
                        y2="6"
                        stroke="white"
                        stroke-width="2"
                      />
                      <path
                        d="M18 6.5L8.25 12.1292L8.25 0.870834L18 6.5Z"
                        fill="white"
                      />
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            </form>
          </div>
        </div>
        <div class="col-md-5">
          <div class="z-5 position-relative">
            <img src="/assets/img/smile.png" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
    <div class="position-absolute right-0 top-0">
      <img src="/assets/img/Frame 3.png" alt="" class="frame-img" />
    </div>
  </div>

  <div></div>
</section>

<!-- 8 -->

<section class="solutions my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div>
          <div class="d-flex gap-2 align-items-center mb-2">
            <span class="book-span">Our Distributors</span>
            <div class="left-border"></div>
          </div>
          <h2 class="strength-abouts">Expert Bearing Solutions Delivered</h2>
          <p _ngcontent-ng-c2475334694="" class="ligt-rrb">
            RRB Bearings proudly offers skilled distributors delivering
            top-quality bearing solutions, ensuring every product meets our high
            standards for performance and reliability.
          </p>

          <div class="position-relative left-cons">
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="13"
                viewBox="0 0 18 13"
                fill="none"
              >
                <line
                  x1="18"
                  y1="7"
                  x2="3"
                  y2="7"
                  stroke="#1B4582"
                  stroke-width="2"
                />
                <path
                  d="M8.52372e-07 6.5L9.75 0.870836L9.75 12.1292L8.52372e-07 6.5Z"
                  fill="#1B4582"
                />
              </svg>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="13"
                viewBox="0 0 18 13"
                fill="none"
              >
                <line
                  x1="8.74228e-08"
                  y1="6"
                  x2="15"
                  y2="6"
                  stroke="#1B4582"
                  stroke-width="2"
                />
                <path
                  d="M18 6.5L8.25 12.1292L8.25 0.870834L18 6.5Z"
                  fill="#1B4582"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <!-- <div class="inner-background">
          <div class="blue-bg-slide">
            <img src="/assets/img/image.png" alt="" class="bg-rev-img" />
            <img
              src="/assets/img/image (1).png"
              alt=""
              class="border-slider-img"
            />
            <div class="blueit"></div>
            <div class="bomby-div">
              <p>BOMBAY</p>
            </div>
          </div>
        </div> -->
        <div class="container james">
          <div
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-interval="false"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/image (1).png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>BOMBAY</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e2.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>DELHI</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e3.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>HARYANA</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e4.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>UTTRAKHAND</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e5.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>PUNJAB</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e6.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>GUJRAT</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e7.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>RAJASTHAN</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e8.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>ASSAM</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/TAMIL.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>TAMIL NADU</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e9.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>KARNATAKA</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e10.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>BIHAR</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e11.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>KERALA</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e12.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>UP</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner-background">
                  <div class="blue-bg-slide">
                    <img
                      src="/assets/img/image.png"
                      alt=""
                      class="bg-rev-img"
                    />
                    <img
                      src="/assets/img/e13.png"
                      alt=""
                      class="border-slider-img"
                    />
                    <div class="blueit"></div>
                    <div class="bomby-div">
                      <p>MP</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="d-flex justify-content-center">
            <div class="bomby-div">
              <p>BOMBAY</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our PRODUCTS COMPATIBLE WITH -->

<section class="products-section">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center gap-3 mb-3">
      <div class="borderWhite"></div>
      <div class="white-header">Our PRODUCTS COMPATIBLE WITH</div>
      <div class="borderWhite"></div>
    </div>

    <div class="d-flex gap-3 my-5 flex-wrap">
      <div class="white-box">
        <img src="/assets/img/John_Deere_logo.svg 1.png" alt="" />
      </div>
      <div class="white-box">
        <img src="/assets/img/image 31.png" alt="" />
      </div>
      <div class="white-box">
        <img src="/assets/img/image 32.png" alt="" />
      </div>
      <div class="white-box">
        <img src="/assets/img/image 33.png" alt="" />
      </div>
      <div class="white-box">
        <img src="/assets/img/image 34.png" alt="" />
      </div>
      <div class="white-box">
        <img src="/assets/img/image 35.png" alt="" />
      </div>
      <div class="white-box">
        <img src="/assets/img/image 36.png" alt="" />
      </div>
      <div class="white-box">
        <img src="/assets/img/image 37.png" alt="" />
      </div>
      <div class="white-box">
        <img src="/assets/img/image 38.png" alt="" />
      </div>
      <div class="white-box">
        <img src="/assets/img/image 39.png" alt="" />
      </div>
      <div class="white-box">
        <img src="/assets/img/image 40.png" alt="" />
      </div>
    </div>

    <div>
      <div>
        <div class="exp-section">
          <img
            src="/assets/img/collage-customer-experience-concept 1.png"
            alt=""
          />
          <div class="exp-section-inner"></div>

          <div class="balck-box">
            <h2 class="d-flex align-items-center gap-2 balc-box-header mb-3">
              <span class="blac-box-border"></span> CLIENT REVIEWS
            </h2>

            <p class="back-boc-pera mb-5">WHAT OUR CLIENT SAYS</p>
            <div class="container james2">
              <div
                id="carouselExampleCaptionss"
                class="carousel slide"
                data-bs-ride="carousel"
                data-bs-interval="false"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div>
                      <div class="d-flex gap-2">
                        <div class="round-section">R</div>
                        <div>
                          <p class="round-p">Rohit Mehra</p>
                          <p class="round-desc">
                            RRB Bearings se mere machines ka performance bohot
                            improve hua hai. Ye bearings waakai me durable aur
                            reliable hain.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <div>
                      <div class="d-flex gap-2">
                        <div class="round-section">P</div>
                        <div>
                          <p class="round-p">Priya Singh</p>
                          <p class="round-desc">
                            Hamare heavy-duty applications ke liye RRB Bearings
                            sabse achha solution hai. Inki quality aur service
                            dono hi first-class hain.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div>
                      <div class="d-flex gap-2">
                        <div class="round-section">A</div>
                        <div>
                          <p class="round-p">Anil Kumar</p>
                          <p class="round-desc">
                            Mujhe RRB Bearings ki customization service bahut
                            pasand aayi. Jo bhi specific requirements thi, sab
                            meet ho gayi.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div>
                      <div class="d-flex gap-2">
                        <div class="round-section">S</div>
                        <div>
                          <p class="round-p">Sunita Devi</p>
                          <p class="round-desc">
                            RRB Bearings ka use karke downtime me kafi kami aayi
                            hai, jo cost-saving ke liye kamaal ka hai. Highly
                            recommend!
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position-relative left-cons mt-5">
                  <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleCaptionss"
                    data-bs-slide="prev"
                  >
                    <div class="balc-left-arrow">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="13"
                        viewBox="0 0 18 13"
                        fill="none"
                      >
                        <line
                          x1="18"
                          y1="7"
                          x2="3"
                          y2="7"
                          stroke="white"
                          stroke-width="2"
                        />
                        <path
                          d="M9.25 11.2631L1 6.5L9.25 1.73686L9.25 11.2631Z"
                          fill="white"
                          stroke="white"
                        />
                      </svg>
                    </div>
                  </button>
                  <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleCaptionss"
                    data-bs-slide="next"
                  >
                    <div class="balc-rigth-arrow">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="13"
                        viewBox="0 0 18 13"
                        fill="none"
                      >
                        <line
                          x1="8.74228e-08"
                          y1="6"
                          x2="15"
                          y2="6"
                          stroke="white"
                          stroke-width="2"
                        />
                        <path
                          d="M18 6.5L8.25 12.1292L8.25 0.870834L18 6.5Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ASK ANYTHING -->
<section id="anything-section" class="any-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex gap-2 align-items-center">
          <div class="left-border-n"></div>
          <span class="any-header">ASK ANYTHING</span>
        </div>

        <p class="any-p-header mt-2 pb-4">
          Your Questions, <br />
          Our Answers
        </p>
        <div class="mt-4">
          <div class="blue-ractangle mb-4">
            What sets RRB Bearings apart from competitors?
          </div>
          <div class="blue-ractangle mb-4">
            How can I place an order for RRB Bearings?
          </div>
          <div class="blue-ractangle mb-4">
            What kind of support does RRB Bearings offer after purchase?
          </div>
        </div>
      </div>

      <div class="col-md-6 any-right">
        <div class="position-relative">
          <img src="/assets/img/Rectangle 43.png" alt="" class="raq-img" />
          <div class="freq-div">
            <img
              src="/assets/img/frequently-asked-questions-solution-concept 1.png"
              alt=""
            />
            <div class="faq-blue"></div>
          </div>
          <div class="count-box">
            <div class="d-flex gap-2 align-items-center">
              <div>
                <img src="/assets/img/Frame 9.svg" alt="" />
              </div>
              <div>
                <p class="count-num">250+</p>
                <span class="count-span">PRODUCTS RANGE</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- blogs -->

<section class="blog-section mt-5" id="blogs">
  <div class="container mt-5">
    <div class="d-flex align-items-center justify-content-center gap-3 mb-3">
      <div class="borderWhite blogs"></div>
      <div class="white-header blogs">BLOGS</div>
      <div class="borderWhite blogs"></div>
    </div>
    <p class="blogs-header">Strategic Solutions For Modern Day Problems</p>

    <div class="mt-4">
      <div class="row">
        <div class="col-12 col-md-4" routerLink="/blogs/Indian_vs_Chinese_Ball_Bearings">
          <div>
            <div class="position-relative">
              <img src="/assets/img/image 44.png" alt="" class="img-fluid" />
              <div class="blog-blue-img"></div>
            </div>
          </div>
          <div class="blog-box-parent">
            <div class="blog-box">
              <p class="blog-box-header">
                Indian vs Chinese Ball Bearings: A Detailed Industry Comparison
              </p>
              <p class="blog-box-desc">
                In the world of manufacturing, the quality of components like
                ball bearings directly impacts the efficiency and longevity of
                machinery.
              </p>
              <button>
                Read More
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="13"
                  viewBox="0 0 18 13"
                  fill="none"
                >
                  <line
                    x1="8.74228e-08"
                    y1="6"
                    x2="15"
                    y2="6"
                    stroke="#1B4582"
                    stroke-width="2"
                  />
                  <path
                    d="M18 6.5L8.25 12.1292L8.25 0.870834L18 6.5Z"
                    fill="#1B4582"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4" routerLink="/blogs/How_to_Know_if_a_Ball_Bearing_is_of_Good_Quality">
          <div>
            <div class="position-relative">
              <img src="/assets/img/image 45.png" alt="" class="img-fluid" />
              <div class="blog-blue-img"></div>
            </div>
          </div>
          <div class="blog-box-parent">
            <div class="blog-box">
              <p class="blog-box-header">
                How to Know if a Ball Bearing is of Good Quality: A
                Comprehensive Guide
              </p>
              <p class="blog-box-desc">
                In various industries such as automotive, aerospace, and
                manufacturing, ball bearings play a critical role in ensuring
                the smooth functioning of machinery.
              </p>
              <button>
                Read More
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="13"
                  viewBox="0 0 18 13"
                  fill="none"
                >
                  <line
                    x1="8.74228e-08"
                    y1="6"
                    x2="15"
                    y2="6"
                    stroke="#1B4582"
                    stroke-width="2"
                  />
                  <path
                    d="M18 6.5L8.25 12.1292L8.25 0.870834L18 6.5Z"
                    fill="#1B4582"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4" routerLink="/blogs/Universal_joints_also_known_as_U_joints_or_universal">
          <div>
            <div class="position-relative">
              <img src="/assets/img/image 44.png" alt="" class="img-fluid" />
              <div class="blog-blue-img"></div>
            </div>
          </div>
          <div class="blog-box-parent">
            <div class="blog-box">
              <p class="blog-box-header">
                Universal Joint: A Cornerstone in Mechanical Systems and Its
                Diverse Applications
              </p>
              <p class="blog-box-desc">
                In the world of manufacturing, the quality of components like
                ball bearings directly impacts the efficiency and longevity of
                machinery.
              </p>
              <button>
                Read More
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="13"
                  viewBox="0 0 18 13"
                  fill="none"
                >
                  <line
                    x1="8.74228e-08"
                    y1="6"
                    x2="15"
                    y2="6"
                    stroke="#1B4582"
                    stroke-width="2"
                  />
                  <path
                    d="M18 6.5L8.25 12.1292L8.25 0.870834L18 6.5Z"
                    fill="#1B4582"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
